@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Merriweather";
  src: url(./assets/fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(./assets/images/bg.jpg) fixed center/cover;
  width: 100vw;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 30px;
  margin: 50px;
  background: none;
  border: 2px solid rgb(20, 20, 20);
}
button:hover {
  border: 2px solid transparent;
  background: rgba(182, 182, 182, 0.575);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button a {
  text-decoration: none;
  color: rgb(20, 20, 20);
  font-weight: 700;
}

header {
  color: rgb(243, 243, 243);
  text-align: center;
  margin: 200px 100px 100px 100px;
  padding: 20px;
}
header h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  max-width: 50%;
  margin: 0 auto;
}
header p {
  font-family: "Merriweather";
  font-style: italic;
  margin: 30px;
}
header i {
  width: 60px;
  height: 60px;
  padding: 20px;
  color: rgb(243, 243, 243);
  border: 2px solid rgb(243, 243, 243);
  border-radius: 80px;
  font-size: 1.3rem;
}
header i:hover {
  background: rgb(243, 243, 243);
  color: rgb(20, 20, 20);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 0.8rem;
  background: rgba(243, 243, 243, 0.162);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav li {
  list-style: none;
}
nav .nav-left li:hover {
  background: rgb(243, 243, 243);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav a {
  text-decoration: none;
  letter-spacing: 1px;
  display: block;
  padding: 20px;
  color: rgb(243, 243, 243);
  text-transform: uppercase;
}
nav a:hover {
  color: rgb(20, 20, 20);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav i {
  font-size: 1.2rem;
}

.section-1 {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  background: rgb(243, 243, 243);
}
.section-1 h3 {
  font-family: "Merriweather";
  font-size: 0.9rem;
  font-weight: normal;
  padding: 50px;
  position: relative;
}
.section-1 h3::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 30%;
  top: 50%;
  left: 10%;
  background: rgba(182, 182, 182, 0.575);
}
.section-1 h3::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 30%;
  top: 50%;
  right: 10%;
  background: rgba(182, 182, 182, 0.575);
}
.section-1 h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  max-width: 60%;
  margin: 0 auto;
}
.section-1 p {
  font-family: "Merriweather";
  font-style: italic;
  font-size: 0.8rem;
  margin: 30px;
  line-height: 40px;
  max-width: 60%;
  margin: 0 auto;
  padding: 30px;
}
.section-1 .img-container {
  background: url(./assets/images/pic01.jpg) center/cover;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.section-2 {
  max-width: 1100px;
  margin: 0 auto;
  background: rgb(243, 243, 243);
}
.section-2 .section-2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.section-2 .section-2-container::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: rgba(182, 182, 182, 0.575);
  top: 0;
}
.section-2 .section-2-container::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 800px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 50%;
  background: rgba(182, 182, 182, 0.575);
}
.section-2 .section-2-container .section-2-left,
.section-2 .section-2-container .section-2-right {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-2 .section-2-container h5 {
  font-family: "Merriweather";
  font-weight: normal;
  text-align: center;
}
.section-2 .section-2-container h4 {
  text-transform: uppercase;
  margin: 40px;
  text-align: center;
  font-size: 1.3rem;
}
.section-2 .section-2-container img {
  max-width: 100%;
}
.section-2 .section-2-container p {
  margin: 30px 0;
  line-height: 30px;
  font-family: "Merriweather";
  font-weight: normal;
}

footer {
  max-width: 1100px;
  margin: 0 auto;
  background: rgb(243, 243, 243);
}
footer .footer-container {
  margin: 40px;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .footer-container label, footer .footer-container h6 {
  font-family: "Inter";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 0.8rem;
}
footer .footer-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  position: relative;
}
footer .footer-container form input, footer .footer-container form textarea {
  margin: 20px 0;
  padding: 20px;
  text-decoration: none;
  border: 1px solid rgba(182, 182, 182, 0.575);
  border-radius: 2px;
  background: transparent;
  resize: none;
}
footer .footer-container .footer-contact > div {
  margin: 20px;
  padding: 0 0 80px 0;
  display: grid;
  grid-template-columns: 20% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-container .footer-contact > div p {
  font-family: "Merriweather";
}
footer .footer-container .footer-contact > div li {
  display: inline;
  padding: 0 15px 0 0;
}
footer .footer-container .footer-contact > div li i {
  width: 60px;
  height: 60px;
  padding: 20px;
  color: rgb(20, 20, 20);
  border: 2px solid rgba(182, 182, 182, 0.575);
  border-radius: 80px;
  font-size: 1.3rem;
}/*# sourceMappingURL=index.css.map */